@{
    ViewBag.Title = "模拟练习_科目4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("HomePartialView")


<div class="container" style="margin-top: 50px">

    <div class="row" id="fh5co-features">

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=basic&language=ch">
                <img src="~/Resources/img/基础篇.png" class="cate-img">
                <p>基础篇</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=driving&language=ch">
                <img src="~/Resources/img/驾驶技巧.png" class="cate-img">
                <p>驾驶技巧</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=sign&language=ch">
                <img src="~/Resources/img/交通标志.png" class="cate-img">
                <p>交通标志</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=ground&language=ch">
                <img src="~/Resources/img/地面标线.png" class="cate-img">
                <p>地面标线</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=signal&language=ch">
                <img src="~/Resources/img/交通信号.png" class="cate-img">
                <p>交通信号</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=common1&language=ch">
                <img src="~/Resources/img/交通常识1.png" class="cate-img">
                <p>交通常识(1)</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=common2&language=ch">
                <img src="~/Resources/img/交通常识2.png" class="cate-img">
                <p>交通常识(2)</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/FourPuzzle?ctype=common3&language=ch">
                <img src="~/Resources/img/交通常识3.png" class="cate-img">
                <p>交通常识(3)</p>
            </a>
        </div>
    </div>
</div>
