@{
    ViewBag.Title = "模拟练习_科目1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("HomePartialView")

<div class="container" style="margin-top: 50px">
    
    <div class="row" id="fh5co-features">
        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=key">
                <img src="~/Resources/img/基础篇.png" class="cate-img">
                <p>关键字</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=character">
                <img src="~/Resources/img/驾驶技巧.png" class="cate-img">
                <p>有字找字</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=decrease">
                <img src="~/Resources/img/交通标志.png" class="cate-img">
                <p>扣分类型</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=ground">
                <img src="~/Resources/img/地面标线.png" class="cate-img">
                <p>地面标线</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=panel">
                <img src="~/Resources/img/交通信号.png" class="cate-img">
                <p>仪表盘指示灯</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=sign">
                <img src="~/Resources/img/交通常识1.png" class="cate-img">
                <p>标记标识</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=time">
                <img src="~/Resources/img/交通常识2.png" class="cate-img">
                <p>时间类型</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=speed">
                <img src="~/Resources/img/交通常识3.png" class="cate-img">
                <p>速度类问题</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=punish">
                <img src="~/Resources/img/交警罚没.png" class="cate-img">
                <p>罚款判刑类</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=light">
                <img src="~/Resources/img/灯光.png" class="cate-img">
                <p>信号灯</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=first">
                <img src="~/Resources/img/道路标志.png" class="cate-img">
                <p>先行原则</p>
            </a>
        </div>

        <div class="col-md-4 col-sm-4 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=symbol">
                <img src="~/Resources/img/仪表盘.png" class="cate-img">
                <p>交通标志</p>
            </a>
        </div>
        <div class="col-md-12 col-sm-1 text-center fh5co-feature feature-box">
            <a href="~/Practice/OnePuzzle?ctype=safe">
                <img src="~/Resources/img/驾校.png" class="cate-img" style="padding-bottom: 36px">
                <p>安全行驶</p>
            </a>
        </div>
    </div>
</div>