@{
    ViewBag.Title = "登录";
    Layout = null;
}
@using DrivingTestSystem.Models.User
@{
    User u = (User)Session["user"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <script src="~/Resources/js/jquery-1.9.1.js"></script>
    <script src="~/Resources/js/bootstrap.min.js"></script>
    <script src="~/Resources/js/jquery.placeholder.min.js"></script>
    <script src="~/Resources/js/jquery.waypoints.min.js"></script>
    <script src="~/Resources/js/main.js"></script>
    <script src="~/Resources/js/JQuery.md5.js"></script>
    <script src="~/Resources/js/userLogin.js"></script>
    <link rel="stylesheet" href="~/Resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Resources/css/animate.css">
    <link rel="stylesheet" href="~/Resources/css/style.css">
    <link rel="stylesheet" href="~/Resources/css/style.css">
    <link rel="stylesheet" href="~/Resources/css/layui.css">
</head>
<body class="style-2">
    <nav class="navbar navbar-default" role="navigation" id="top_bar" style="margin-top: 15px; color: slategrey;">
        <div class="container">
            <div class="navbar-header" style="float: left;">
                <button type="button" onclick="OnClick();" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" style="height: 1px; padding-bottom: 10px">

                <ul class="nav navbar-nav navbar-left">
                    <li onclick="changeToCh()" style="padding: 15px; padding-right: 0px; cursor: pointer">汉语&nbsp;|&nbsp;</li>
                    <li onclick="changeToTibetan()" style="padding: 15px; padding-left: 0px; cursor: pointer">བོད་སྐད།</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-primary layui-btn-radius" style="height:35px;color:white;display:block;padding-top:8px;padding-bottom:8px;display:none" id="logout_button" href="/UserLogin/Logout">登出</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </nav>
    <div class="container" style="margin-top: 25px">
        <div class="row clearfix">
            <div class="col-md-4">
                @if (Session["User"] == null)
                {
                    <!-- Start Sign In Form -->
                    <form action="#" class="fh5co-form animate-box" data-animate-effect="fadeInLeft">
                        <h2 id="login_label">登录</h2>
                        <p id="error_info" style="color: red; text-align: center">@ViewBag.error</p>
                        <div class="form-group">
                            <label for="username" class="sr-only" id="user_name_label">用户名</label>
                            <input type="text" class="form-control" name="user_account" id="user_account" placeholder="用户名" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only" id="user_pass_label">密码</label>
                            <input type="password" class="form-control" name="user_password" id="user_password" placeholder="密码" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td>
                                        <input class="form-control" placeholder="验证码" name="ValidateCode" id="ValidateCode" type="text" style="width: 200px;">
                                    </td>
                                    <td>
                                        <a onclick="refreshCode()">
                                            <img id="codeImg" src="@Url.Content("~/VerifyCode/")" style="border:solid 1px;width:110px;height:33px;"/>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <input type="button" id="login_button" value="登录" class="btn btn-primary" onclick="login();">
                        </div>
                    </form>
                    <!-- END Sign In Form -->
                }
                else
                {
                    <script>
                        $("#logout_button").show();
                    </script>
                    <!--PersonalCenter-->
                    <form action="#" class="fh5co-form animate-box" data-animate-effect="fadeInLeft">
                        <div class="row clearfix">
                            <div class="col-md-12 column" style="margin-bottom: 20px">
                                <fieldset class="layui-elem-field" style="margin-bottom: 20px;margin-top:30px">
                                    <legend id="daily">日常练习</legend>
                                    <div class="layui-field-box category" style="padding-bottom:40px;text-align:center;font-size:18px">
                                        <div class="row clearfix">
                                            <div class="col-md-6 column">
                                                <a id="daily_one" style="text-decoration:none;cursor:pointer" href="/Practice/SubjectOnePage">科目一</a>
                                            </div>
                                            <div class="col-md-6 column">
                                                <a id="daily_four" style="text-decoration:none;cursor:pointer" href="/Practice/SubjectFourPage">科目四</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <fieldset class="layui-elem-field" style="margin-top:20px;margin-bottom:30px">
                                    <legend id="exam">模拟考试</legend>
                                    <div class="layui-field-box category" style="padding-bottom:40px;text-align:center;font-size:18px">
                                        <div class="row clearfix">
                                            <div class="col-md-6 column">
                                                <a id="exam_one" style="text-decoration:none;cursor:pointer" href="/Exam/OnePuzzle">科目一</a>
                                            </div>
                                            <div class="col-md-6 column">
                                                <a id="exam_four" style="text-decoration:none;cursor:pointer" href="/Exam/FourPuzzle">科目四
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <!--End PersonalCenter-->
                }
            </div>
        </div>
        <div class="row" style="padding-top: 60px; clear: both;">
            <div class="col-md-12 text-center">
                <p><small style="font-size:100%; visibility:hidden">Copyright &copy; 青海黄南官邸驾校版权所有.</small></p>
            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    function Ch() {
        $("#logout_button").text("登出");
        $("#photo").text("照片");
        $("#personal_center").text("个人中心");
        $("#login_button").attr("value", "登入");
        $("#isRegistered").text("还没注册?");
        $("#RegisterNow").text("现在注册");
        $("#ForgetPass").text("忘记密码?");
        $("#ValidateCode").attr("placeholder", "验证码");
        $("#user_password").attr("placeholder", "密码");
        $("#user_pass_label").text("密码");

        $("#user_account").attr("placeholder", "用户名");
        $("#user_name_label").text("用户名");
        $("#login_label").text("登录");
        $("#exam_four").text("科目四");
        $("#exam_one").text("科目一");
        $("#exam").text("模拟考试");
        $("#daily_one").text("科目一");
        $("#daily_four").text("科目四");
        $("#daily").text("日常练习");
    }
    function tibetan() {
        $("#logout_button").text("ཕྱིར་འབུད།"); //藏语的登出
        $("#photo").text("འདྲ་པར།");
        $("#personal_center").text("མི་སྒེར་གྱི་ལྟེ་གནས");
        $("#login_button").attr("value", "ཐོ་འཇུག");
        $("#isRegistered").text("");
        $("#RegisterNow").text("");
        $("#ForgetPass").text("");
        $("#ValidateCode").attr("placeholder", "ར་སྤྲོད་ཨང་གྲངས།");
        $("#user_password").attr("placeholder", "གསང་གྲངས།");
        $("#user_pass_label").text("གསང་གྲངས།");
        //密码གསང་གྲངས།
        //一གཅིག
        //四བཞི
        //考试རྒྱུགས་ལེན་པ།
        //交卷རྒྱུགས་ཤོག་
        //练习སྤྱར་སྦྱོང་།
        //登录ཐོ་འཇུག   登出ཕྱིར་འབུད།个人中心མི་སྒེར་གྱི་ལྟེ་གནས།主页གཙོ་ངོས
        //账号རྩིས་ཐོའི་ཨང་གྲངས།
        //验证码ར་སྤྲོད་ཨང་གྲངས།
        $("#user_account").attr("placeholder", "རྩིས་ཐོའི་ཨང་གྲངས།");
        $("#user_name_label").text("རྩིས་ཐོའི་ཨང་གྲངས།");
        $("#login_label").text("ཐོ་འཇུག");
        $("#exam_four").text("བཞི");
        $("#exam_one").text("གཅིག");
        $("#exam").text("རྒྱུགས་ལེན་པ།");
        $("#daily_one").text("གཅིག");
        $("#daily_four").text("བཞི");
        $("#daily").text("སྤྱར་སྦྱོང་།");
    }
    function changeToCh() {
        jQuery.post(
       "/UserLogin/setLan/",
       { "lan": "ch" },
       function (data) {
           location.href = "/UserLogin/Index/";
       }
       );
    }
    function changeToTibetan() {
        jQuery.post(
            "/UserLogin/setLan/",
            { "lan": "tibetan" },
            function (data) {
                location.href = "/UserLogin/Index/";
            }
        );
    }
    $(document).ready(function () {
        $.ajax({
            type: "post",
            async: false,
            url: "/UserLogin/getLan/",
            data: {},
            success: function (data) {
                if (data != "ch") {
                    tibetan();
                }
                else {
                    Ch();
                }
            }
        });
    });
    function out() {
        if (window.event.toElement.id != "menu" && window.event.toElement.id != "link")
            menu.style.visibility = "hidden";
    }

    function out1() {
        if (window.event.toElement.id != "menu1" && window.event.toElement.id != "link")
            menu1.style.visibility = "hidden";
    }
    var i = 0;
    function OnClick() {
        if (i % 2 == 0) {
            $('.collapse').collapse('show');
            i++;
        }
        else {
            $('.collapse').collapse('hide');
            i++;
        }
    }
</script>

